dataclasses==0.8
docker-pycreds==0.4.0
gcsfs==2021.11.1
google-apitools==0.5.31
google-cloud-bigtable==2.4.0
google-cloud-dataproc==3.1.1
google-cloud-datastore==2.4.0
google-cloud-dlp==1.0.0
google-cloud-firestore==2.3.4
google-cloud-kms==2.10.1
google-cloud-language==2.3.1
google-cloud-logging==2.7.0
google-cloud-monitoring==2.8.0
google-cloud-pipeline-components==0.1.1
grpcio-gcp==0.2.2
grpcio-status==1.43.0
keyrings.google-artifactregistry-auth==1.0.0
scikit-learn==0.24.2
kfp-pipeline-spec==0.1.13
kfp-server-api==1.7.1
